@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    font-family: 'Fira Sans';
}
body{
    max-width: 1280px;
    margin: auto;
    background-color: rgb(241, 241, 243);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
h1{
    font-size: 42px;
    font-weight: 700;
    width: 460px;
    margin: 24px 0;
}
h3{
    font-weight: 700px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    padding: 24px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
select{
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    background: rgb(198, 228, 214);
    font-size: 16px;
    font-weight: 500;
}
.btn-sign-in{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    border-radius: 8px;
    width: 108px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
}
.hero-banner{
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 500px;
    margin-bottom: 60px ;
}
.btn-hero-banner{
    flex-direction: row;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    width: 270px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    font-size: 16px;
    font-weight: 600;
}
.hero-section, .hero-banner-img{
    margin: auto;
}
.hero-h1{
    width: 500px;
    height: auto;
}
.hero-p{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}
.pillar-section{
    display: flex;
    justify-content: space-between;
}
.pillar, .vision-section{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.pillar{
    background: rgb(255, 255, 255);
    padding: 24px;
    width: 300px;
}
.paragraph{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: -0.5em;
}
.vision-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 32px auto ;
}
.vision-section{
    flex: 1;
    padding: 32px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vision-card{
    flex-grow: 1;
}
.card-icon{
    justify-content: left;
    width: 64px;
}
.btn-learn-more{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    width: 128px;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
}
#digital-transformation{
    background-color: rgba(84, 144, 245, 0.2);
}
#green-energy{
    background-color: rgb(198, 228, 214);
}
#modern-infrastructure{
    background-color: rgb(247, 235, 207);
}
#btn-vision-1{
    background-color: rgb(84, 144, 245);
}
#btn-vision-2{
    background-color: rgb(9, 161, 92);
}
#btn-vision-3{
    background-color: rgb(255, 194, 57);
}
.quote-container{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 32px 24px;
}
.quote{
    background: url(/assignment-1/taufique-assignment-1/assets/quote-bg.png);
    background-repeat: no-repeat ;
    padding-top: 28px;
}
.table-container{
    padding: 32px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}
.table-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 228, 214);
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 600;
}
.opinion{
    width: 18%
}
.recent-news-container{
    padding: 48px;
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    background: rgb(255, 255, 255);
    border-radius: 24px;
}
.recent-news-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
}
.satellite{
    border-radius: 24px;
}
.read-more-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
}